 <form action="/login" method="post">
  <div class="container">
    <input type="text" placeholder="Enter email" name="email" required>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
 
</form> 